.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-blog-form {
  position: relative;
  /* top: 20px; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
/* .modal-blog-form-content {
  border: 1px solid yellow;
} */
.modal-blog-form .post-btn {
  width: clamp(15rem, 16cqi, 30rem);
  aspect-ratio: 4/1;
  background: linear-gradient(to right, #b88efc, #6877f4);
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: o 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-blog-form .post-btn:active {
  transform: translateY(-5%);
}
.modal-blog-form .blogs-right-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}
.modal-blog-form form {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.modal-blog-form h1 {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(2rem, 3cqi, 6rem);
  text-transform: uppercase;
  background: linear-gradient(to right, #b88efc, #6877f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
.modal-blog-form input[type="file"] {
  display: none;
}
.modal-blog-form .text-input,
.modal-blog-form .title-input {
  width: clamp(15rem, 25cqi, 45rem);
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid #b88efc;
  padding: 2rem 0;
  color: #ddd;
}
.modal-blog-form .title-input {
  font-size: 1.8rem;
}
.modal-blog-form .text-input {
  font-size: 1.5rem;
}
.modal-blog-form .title-input::placeholder,
.modal-blog-form .text-input::placeholder {
  font-family: "Comfortaa", sans-serif;
  color: #b88efc;
  font-size: 1.3rem;
  opacity: 0.5;
}
.modal-blog-form .title-input::placeholder {
  font-size: 1.6rem;
}

.modal-blog-form .title-input:focus::placeholder,
.modal-blog-form .text-input:focus::placeholder {
  color: transparent;
}
.modal-blog-form .text-input {
  aspect-ratio: 5/3;
  resize: none;
}
.modal-blog-form .file-upload {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  font-size: 2rem;
  color: #bbb;
  cursor: pointer;
}
.modal-blog-form .file-upload i {
  font-size: 4rem;
  color: #b88efc;
}

.modal-blog-form .close-btn {
  position: absolute;
  top: 3rem;
  right: 2.5rem;
  background: transparent;
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ddd;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal-blog-form .close-btn i {
  font-size: 4rem;
}

.modal-blog-form .submit-btn {
  height: 5rem;
  background: linear-gradient(to left, #b88efc, #6877f4);
  border: none;
  border-radius: 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.modal-blog-form .submit-btn:active {
  transform: translateY(-5%);
}
