.navbar {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.bookmark {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
.user {
  width: 100%;
  height: 20%;
  background-color: #111214;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  cursor: pointer;
}
.user img {
  width: 7rem;
  /* height: 7rem; */
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.user p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  color: #ddd;
}

.categories {
  width: 100%;
  height: calc(80% - 2rem);
  background-color: #111214;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
}
.nav-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 2.5rem, 3rem);
  color: #ddd;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.nav-link {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ddd;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s all;
}
.nav-link i {
  font-size: 2rem;
  margin-left: 1rem;
}
.nav-link.active-link {
  font-weight: 700;
  /* border-bottom: 1px solid #fff; */
}
@media (max-width: 900px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 18rem;
    gap: 1rem;
  }
  .user {
    width: calc(30% - 2rem);
    height: 100%;
  }
  .categories {
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-link {
    margin-right: 2rem;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    height: 30rem;
    margin-bottom: 5rem;
  }
  .user {
    width: 100%;
    min-height: 40%;
  }
  .user p {
    display: none;
  }

  .categories {
    width: 100%;
  }
  .nav-heading {
    display: none;
  }
}
@media (max-width: 320px) {
  .navbar {
    margin-bottom: 10rem;
  }
}
